<div class="panel panel-info">
  <div class="panel-heading">
    <h4><span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span> Coordination Cockpit - Request <b *ngIf="requestDetails">{{requestDetails.REQUEST}}</b></h4>
  </div>
  <div class="panel-body">
    <h5>Request Details</h5>
    <div *ngIf="requestDetails" id="requestDetails">
      <div class="row">
        <div class="col-xs-12 col-md-3">Parent: <b>N/A</b></div>
        <div class="col-xs-12 col-md-3">Bundled from: <b>N/A</b></div>
        <div class="col-xs-12 col-md-3">Owner: <b>{{requestDetails.REQUEST_OWNER}}</b></div>
        <div class="col-xs-12 col-md-3">Due Date: <b>{{requestDetails.CREATION_DATE}}</b></div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-3">Request: <b>{{requestDetails.REQUEST}}</b></div>
        <div class="col-xs-12 col-md-3">Country: <b>N/A</b></div>
        <div class="col-xs-12 col-md-3">Assigne: <b>{{requestDetails.NAME}}</b></div>
        <div class="col-xs-12 col-md-3">Receiving Date: <b>N/A</b></div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-3">Reason for Request: <b>N/A</b></div>
        <div class="col-xs-12 col-md-3">Request Type: <b>{{requestDetails.REQUEST_TYPE}}</b></div>
        <div class="col-xs-12 col-md-3">Priority: <b>{{requestDetails.PRIORITY}}</b></div>
        <div class="col-xs-12 col-md-3">Target BoA Dept. Date: <b>N/A</b></div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-3">Status: <b>{{requestDetails.STATUS}}</b></div>
        <div class="col-xs-12 col-md-3">Phase: <b>N/A</b></div>
        <div class="col-xs-12 col-md-3">Progress: <b>N/A</b></div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-3">Risk Printing: <input type="checkbox"> <b>N/A</b> <span class="glyphicon glyphicon-edit" aria-hidden="true"> </span></div>
      </div>
    </div>
    <hr>
    <div id="targetConfiguration">
      <div class="tc-buttons">
        <div class="row">
          <div class="col-xs-12 col-md-4 pull-left">
            <button type="button" class="btn btn-info"  disabled="disabled">Current & Target Configuration</button>
            <button type="button" class="btn btn-default" disabled="disabled">Only Target Configuration</button>
          </div>
          <div class="col-xs-12 col-md-4">
            <button type="button" class="btn btn-default" disabled="disabled">PPMs per FG</button>
            <button type="button" class="btn btn-default" disabled="disabled">FGs per PPM</button>
            <button type="button" class="btn btn-default"
               [ngClass]="{'btn-primary' : fgOnly}"
              (click)="fgOnly = !fgOnly; ppmOnly = false;">Only FGs</button>
            <button type="button" class="btn btn-default"
               [ngClass]="{'btn-primary' : ppmOnly}"
              (click)="ppmOnly = !ppmOnly; fgOnly = false;">Only PPMs</button>
          </div>
          <div class="col-xs-12 col-md-4">
            <span class="pull-right">
              <button type="button" class="btn btn-warning" disabled="disabled">Add FG</button>
            </span>
          </div>
        </div>
      </div>
      <div class="tc-data">
        <accordion>
          <span *ngFor="let item of targetConfList">
            <app-request-detail-fg *ngIf="item.TYPE === 'FG' && !ppmOnly" [finishGoodDetail]="item"></app-request-detail-fg>
            <app-request-detail-ppm *ngIf="item.TYPE === 'PPM' && !fgOnly" [printedPackaMatDetail]="item"></app-request-detail-ppm>
          </span>
        </accordion>
      </div>

    </div>
  </div>
  <div class="panel-footer">
    <div class="row">
      <div class="col-xs-6">
        <span class="pull-left">
          <button type="button" class="btn btn-danger">
            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Cancel
          </button>
          <button type="button" class="btn btn-danger">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Withdrawal
          </button>
          <button type="button" class="btn btn-danger">
            <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span> Request Cancellation
          </button>
          <button type="button" class="btn btn-danger">
            <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> Request Withdrawal
          </button>
        </span>
      </div>
      <div class="col-xs-6">
        <span class="pull-right"> 
          <button type="submit" class="btn btn-default">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Check Target Configuration
          </button>
          <button type="submit" class="btn btn-default">
            <span class="glyphicon glyphicon-tag" aria-hidden="true"></span> Confirm Target Configuration
          </button>
          <button type="submit" class="btn btn-success">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Finalize Assessment
          </button>
        </span>
      </div>
    </div>
  </div>
</div>
