<div class="panel panel-info">
  <div class="panel-heading">
    <h4><span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span> TO BE DELETED!!! Coordination Cockpit - Request <b *ngIf="requestDetails">{{requestDetails.REQUEST}}</b></h4>
  </div>
  <div class="panel-body">
    <div *ngIf="requestDetails">
      <div>{{requestDetails.ID}}</div>
      <div>{{requestDetails.REQUEST}}</div>
      <div>{{requestDetails.NAME}}</div>
      <div>{{requestDetails.TASK_OWNER}}</div>
      <div>{{requestDetails.STATUS}}</div>
      <div>{{requestDetails.PRIORITY}}</div>
      <div>{{requestDetails.CREATION_DATE}}</div>
    </div>
  </div>
</div>

{{ requestDetails | json }}
