<div class="panel panel-info">
  <div class="panel-heading">
    <h3 *ngIf="taskDetails"><span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span> Coordination Cockpit - Request <b>{{taskDetails.REQUEST}}</b></h3>
  </div>
  <div class="panel-body">
    <div *ngIf="taskDetails">
      <div>{{taskDetails.ID}}</div>
      <div>{{taskDetails.REQUEST}}</div>
      <div>{{taskDetails.NAME}}</div>
      <div>{{taskDetails.TASK_OWNER}}</div>
      <div>{{taskDetails.STATUS}}</div>
      <div>{{taskDetails.PRIORITY}}</div>
      <div>{{taskDetails.CREATION_DATE}}</div>
    </div>
  </div>
</div>

{{ taskDetails | json }}
