<form class="search-form">
  <div class="form-group">
    <div class="input-group">
      <input type="text" class="form-control" id="exampleInputAmount" placeholder="What are you searching for?  ">
      <div class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></div>
    </div>
  </div>
</form>
<hr>
<table class="table table-striped"
  [mfData]="taskList" #mf="mfDataTable"
  [mfActivePage]="3"
  [mfRowsOnPage]="5">
  <thead>
    <tr>
      <th>
        <mfDefaultSorter by="TYPE">Type</mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="TASK_OWNER">Task Owner</mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="REQUEST">Request</mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="FG">FG</mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="NAME">Request Owner</mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="PRIORITY">Priority</mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="STATUS">Status</mfDefaultSorter>
      </th>
      <th>
        <mfDefaultSorter by="CREATION_DATE">Creation</mfDefaultSorter>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let task of mf.data">
<!--
        <td><a [routerLink]="['/tasks/additionalInformation', task.ID]" [queryParams]="{debug: true}">{{task.TYPE}}</a></td>
        <td><a (click)="onTaskTypeSelected($event, task)">{{task.TYPE}}</a></td>
-->
        <td><button type="button" class="btn btn-link" (click)="onTaskTypeSelected($event, task)">{{task.TYPE}}</button></td>
        <td class="text-left">{{task.TASK_OWNER}}</td>
        <td><a [routerLink]="['/coco/requestDetails', task.REQUEST]" [queryParams]="{debug: false}">{{task.REQUEST}}</a></td>
        <td>{{task.NAME}}</td>
        <td>{{task.FG}}</td>
        <td>{{task.PRIORITY | uppercase}}</td>
        <td>{{task.STATUS}}</td>
        <td>{{task.CREATION_DATE}}</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="12">
        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25, 50]"></mfBootstrapPaginator>
      </td>
    </tr>
  </tfoot>
</table>
