<div class="panel panel-info">
  <div class="panel-heading">
    <div *ngIf="taskDetail">
      <h4><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Technnical Assessment - Request <b>{{taskDetail.REQUEST}}</b></h4>
    </div>
  </div>
  <div class="panel-body">
    <app-task-header [taskData]="taskDetail"></app-task-header>
    <hr>
    <app-request-detail-view [requestDetail]="requestDetail"></app-request-detail-view>
    <hr>
    <app-task-assigned-docs></app-task-assigned-docs>
    <hr>
    <div class="container-fluid2">
      <b>Target Configuration</b>
      <div class="row">
        <div class="col-xs-6">
          <button class="btn btn-sm btn-default"
            (click)="ppmPerFg = true; fgPerPpm = false; fgOnly = false; ppmOnly = false"
            [ngClass]="{'btn-info' : ppmPerFg}">PPMs per FG</button>
          <button class="btn btn-sm btn-default"
            (click)="ppmPerFg = false; fgPerPpm = true; fgOnly = false; ppmOnly = false"
            [ngClass]="{'btn-info' : fgPerPpm}">FGs per PPM</button>
          <button class="btn btn-sm btn-default"
            (click)="ppmPerFg = false; fgPerPpm = false; fgOnly = true; ppmOnly = false"
            [ngClass]="{'btn-info' : fgOnly}">FGs Only</button>
          <button class="btn btn-sm btn-default"
            (click)="ppmPerFg = false; fgPerPpm = false; fgOnly = false; ppmOnly = true"
            [ngClass]="{'btn-info' : ppmOnly}">PPMs Only</button>
        </div>
        <div class="col-xs-6">
          <span class="pull-right">
            <button class="btn btn-sm btn-default" (click)="expandAllTargetConfigs = true;">Expand</button>
            <button class="btn btn-sm btn-default" (click)="expandAllTargetConfigs = false;">Collapse</button>
          </span>
        </div>
      </div>
      <div class="tc-data">
        <accordion>
          <span *ngFor="let item of targetConfList">
            <app-request-detail-fg *ngIf="item.TYPE === 'FG' && !ppmOnly" [finishGoodDetail]="item" [expandAll]="expandAllTargetConfigs"></app-request-detail-fg>
            <app-request-detail-ppm *ngIf="item.TYPE === 'PPM' && !fgOnly" [printedPackaMatDetail]="item" [expandAll]="expandAllTargetConfigs"></app-request-detail-ppm>
          </span>
        </accordion>
      </div>
    </div>
    <hr>
    <div class="container-fluid2">
      <b>Notes</b>
      <div class="form-group">
        <div class="row">
          <div class="col-xs-12">
            <textarea class="form-control" rows="3" id="notes" name="notes">
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis assumenda magnam quo magni! Iure error accusantium, quas dolor dolorum incidunt voluptatem, rem quos veritatis eum praesentium impedit tempore numquam aperiam?
            </textarea>
          </div>
        </div>
        <div class="row technical-drawing">
          <div class="col-xs-12">
            Is Technical Drawing Required?
              <div class="btn-group">
                <label class="btn btn-default" [(ngModel)]="techDrawingModel" name="doTechnicalDrawing" btnRadio="YES">Yes</label>
                <label class="btn btn-default" [(ngModel)]="techDrawingModel" name="doNoTechnicalDrawing" btnRadio="NO">No</label>
              </div>
          </div>
        </div>
      </div>
    </div> 
  </div>
  <div class="panel-footer">
    <div class="row">
      <div class="col-xs-6"><button type="button" class="btn btn-default pull-left" (click)="goToTaskList($event)">Close without Saving</button></div>
      <div class="col-xs-6">
        <span class="pull-right">
          <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Save</button>
          <button type="submit" class="btn btn-primary" (click)="goToTaskList($event)"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Submit</button>
        </span>
      </div>
    </div>
  </div>
</div>

<!--
<div class="well well-primary">
  taskDetail: {{ taskDetail | json }}
</div>
-->