<div class="panel panel-info">
  <div class="panel-heading">
    <h5><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Requests Overview</h5>
  </div>
  <div class="panel-body">
    <table class="table table-striped"
      [mfData]="requestList" #mf="mfDataTable"
      [mfActivePage]="3"
      [mfRowsOnPage]="5">
      <thead>
        <tr>
          <th>
            <mfDefaultSorter by="ID"><input type="checkbox" title="Mark to select/unselect all visible Requests"></mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="REQUEST">Request</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="REQUEST_OWNER">Request Owner</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="NAME">Responsible</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="REQUEST_TYPE">Type</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="FG">FG</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="PRIORITY">Priority</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="STATUS">Status</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="CREATION_DATE">Creation</mfDefaultSorter>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let request of mf.data">
          <td><input type="checkbox"> </td>
          <td><a [routerLink]="['/coco/requestDetails', request.REQUEST]" [queryParams]="{debug: true}">{{request.REQUEST}}</a></td>
          <td>{{request.REQUEST_OWNER}}</td>
          <td>{{request.NAME}}</td>
          <td>{{request.REQUEST_TYPE}}</td>
          <td>{{request.FG}}</td>
          <td>{{request.PRIORITY | uppercase}}</td>
          <td>{{request.STATUS}}</td>
          <td>{{request.CREATION_DATE}}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="12">
            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25, 50]"></mfBootstrapPaginator>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
  <div class="panel-footer">
    <div class="row">
      <div class="col-xs-6">
        <span class="pull-left">
          <button type="button" class="btn btn-danger">Decide on Cancellation</button>
          <button type="button" class="btn btn-danger">Decide on Withdrawal</button>
          <button type="button" class="btn btn-danger">Request Cancellation</button>
          <button type="button" class="btn btn-danger">Request Withdrawal</button>
        </span>
      </div>
      <div class="col-xs-6">
        <span class="pull-right"> 
          <button type="submit" class="btn btn-default">
            <span class="glyphicon glyphicon-tag" aria-hidden="true"></span> Set Markers
          </button>
          <button type="submit" class="btn btn-default">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Claim
          </button>
        </span>
      </div>
    </div>
  </div>
</div>
