<div class="panel panel-info">
  <div class="panel-heading">
    <h4><span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span> Coordination Cockpit</h4>
  </div>
  <div class="panel-body">
    <div>
      <tabset>
        <tab heading="Requests"><app-request-overview></app-request-overview></tab>
        <tab heading="Parents"><app-parent-overview></app-parent-overview></tab>
        <tab heading="Bundling"><app-bundling-overview></app-bundling-overview></tab>
        <tab heading="Actions"><app-action-overview></app-action-overview></tab>
      </tabset>
    </div>
  </div>
</div>
